body {
    background-color: rgb(176, 240, 229);
}

.mainGameSec {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
    font-family: "PressStart2P-Regular";
}

.gameTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}   

.gameTitle h1 {
    font-size: 5vh;
}

.music {
    width: 70%;
    display: flex;
    justify-content: end;
}

.musicBtn {
    width: 5vw;
    height: 6vh;
    background-color: aliceblue;
    border: 1px solid aliceblue;
    padding: 1vh;
    border-radius: 10%;
    cursor: pointer;
}

.musicBtn:hover {
    background-color: rgb(172, 178, 184);
    border: 1px solid aliceblue;
}

.gameMaster {
    display: contents;
}

.gameMaster img {
    width: 20%;
    position: relative;
    animation-name: float;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    margin-bottom: 2vh;
}

.gameControls {
    display: none;
    margin: 3vh 0;
    flex-direction: column;
    align-items: center;
}

.gameControls > * {
    margin: 1vh 0;
}

.userNuberInp {
    outline: none;
    text-align: center;
    padding: 2vh;
    font-family: "PressStart2P-Regular";
    font-size: 5vh;
    width: 30%;
    border: 5px solid black;
}

.userNuberSub {
    font-family: "PressStart2P-Regular";
    background-color: rgb(255, 25, 94);
    border: 2px solid rgb(189, 27, 75);
    padding: 2vh;
}

.userNuberSub:hover {
    background-color: rgb(189, 27, 75);
    border: 2px solid rgb(255, 25, 94);
    color: white;
}

.startGame {
    margin: 3vh 0;
}

.startGame button {
    font-family: "PressStart2P-Regular";
    padding: 2vh;
    background-color: rgb(255, 25, 94);
    border: 2px solid rgb(189, 27, 75);
}

.startGame button:hover {
    background-color: rgb(189, 27, 75);
    border: 2px solid rgb(255, 25, 94);
    color: white;
}


@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(35px);
    }

    100% {
        transform: translateY(0px);
    }
}