/* Global */
body {
    background-color: rgb(176, 240, 229);
}


/* Rules Aside */
.gameRuleSec {
    position: absolute;
    width: 20%;
}

.rules {
    margin: 2vh;
    padding: 2vh;
    border: 5px solid rgb(255, 94, 0);
    background-color: rgb(255, 179, 79);
    font-family: "PressStart2P-Regular";
    line-height: 3vh;
}

.rules em {
    color: aqua;
    border-bottom: 5px solid aqua;
}


/* Main Section */
.mainGameSec {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "PressStart2P-Regular";
}

.gameTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}   

.gameTitle h1 {
    font-size: 5vh;
}

.rotatingCoin {
    width: 5%;
    margin-bottom: 0.5vh;
}

.rotateLeft {
    transform: rotate(45deg);
}

.music {
    width: 70%;
    display: flex;
    justify-content: end;
}

.musicBtn {
    width: 5vw;
    height: 6vh;
    background-color: aliceblue;
    border: 1px solid aliceblue;
    padding: 1vh;
    border-radius: 10%;
    cursor: pointer;
}

.musicBtn:hover,
.musicBtn:active {
    background-color: rgb(172, 178, 184);
    border: 1px solid aliceblue;
}

.gameMaster {
    /* display: contents; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameMaster img {
    width: 20%;
    position: relative;
    animation-name: float;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    margin-bottom: 1.5vh;
}

.gameControls {
    display: none;
    margin: 3vh 0;
    flex-direction: column;
    align-items: center;
}

.gameControls > * {
    margin: 1vh 0;
}

.userNuberInp {
    outline: none;
    text-align: center;
    padding: 2vh;
    font-family: "PressStart2P-Regular";
    font-size: 5vh;
    width: 30%;
    border: 5px solid black;
}

.gameControlBtn {
    font-family: "PressStart2P-Regular";
    background-color: rgb(255, 25, 94);
    border: 2px solid rgb(189, 27, 75);
    padding: 2vh;
}

.gameControlBtn:hover,
.gameControlBtn:active {
    background-color: rgb(189, 27, 75);
    border: 2px solid rgb(255, 25, 94);
    color: white;
}

.startGame {
    margin: 3vh 0;
}

#resetBtn {
    display: none;
    margin: 1.5vh 0;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(35px);
    }

    100% {
        transform: translateY(0px);
    }
}

